/* Universal Style */
body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* Header */
header {
    border: 1px solid seashell;
    display: flex;
    height: 69px;
    opacity: 0.9;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: auto;


}

.nav ul {
    display: flex;
    list-style-type: none;

}

.nav li {
    text-decoration: underline;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}
/* Mission */
.our_mission {
    background-image: url("img-mission-background.jpeg");
    background-color: black;
    height: 700px;
    background-size: 100%;
    position: relative;


}

.missiontag {
    background-color: black;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
}
h4 {




}
/* Tea of the Month */
.tea_of_the_month {
    width: 1000px;
    height: 700px;
    margin: 0 auto;


}

.tea_of_the_month_tag {
    background-color: black;
    text-align: center;
}

.specials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.figure {
    height: auto;
    width: 300px;
    text-align: center;
    margin: 10px;


}

.figure img {
    width: 300px;
    height: 200px;
}


/* Location */
.locations {
    background-image: url("img-locations-background.jpeg");
    background-size: 100% 100%;
    height: 500px;



}
.locations img {
    height: 500px;
    width: 0 auto;
}

.location_tag {
    text-align: center;

}

.location_list {
    display: flex;
    text-align: center;
    opacity: 1;
    flex: flex-shrink;
    margin: 40px;

}

.location {
    height: 300px;
    width: 300px;
    display: inline-block;
    margin: 15px 40px;
    text-align: center;
    background-color: black;
    opacity: 1;
    justify-content; center;

    
}


/* Footer */
.footer_tag {
    text-align: center;
    height: 200px;
}
footer {
    padding: 20px;
}